# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [157]:
# Your code here
import pandas as pd

db = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

# 1-Identify the dimensions of the dataset by determining the number of rows and columns it contains.
db.shape
print("Number of rows:", db.shape[0])
print("Number of columns:", db.shape[1])

Number of rows: 4008
Number of columns: 11

In [158]:
# 2-Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.

display(db.dtypes)
display(db.head())
display(db.tail())

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The variable "Customer Lifetime Value" is supposed to be a numerical continuous variable so we should remove the "%" character from the value and change the data type of the column to float64.

The variable "Number of Open Complaints" is a numerical discrete variable so we should clean the values so we can have only the middle integer (the only digit that changes throughout the dataframe) and change the data type of the column to int64.

In [61]:
# 3-Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
print("Number of unique values for each column:")
db.nunique()

Number of unique values for each column:

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

Considering the data type and the number of unique values the following columns appear to be categorical:
-ST, GENDER, Education, Policy Type, Vehicle Class

In [67]:
categorical_variables = ['ST', 'GENDER', 'Education','Policy Type', 'Vehicle Class']

for column in db[categorical_variables]:
    unique = db[column].unique()
    print(f"Unique values for {column}:")
    print (unique)
    print()

Unique values for ST:
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]

Unique values for GENDER:
[nan 'F' 'M' 'Femal' 'Male' 'female']

Unique values for Education:
['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]

Unique values for Policy Type:
['Personal Auto' 'Corporate Auto' 'Special Auto' nan]

Unique values for Vehicle Class:
['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

The ST column referring to States contains values which appear to be the same but in some cases they are extended and in others abreviated (Washington - WA, California - Cali, Arizona - Az) and it also has missing values (nan).

The GENDER column also has the same issue besides what appears to be typos (F - Fe - Femal - Female, M - Male) and also has missing values.

The Education, Policy Type and Vehicle class columns also appear to have missing values.

In [156]:
numerical_variables = ["Income","Monthly Premium Auto","Total Claim Amount"]
#db[numerical_variables]

range_db = db[numerical_variables].max() - db[numerical_variables].min()
print("The ranges of the numerical variables are:")
print(range_db)

The ranges of the numerical variables are:
Income                  99960.000000
Monthly Premium Auto    35293.000000
Total Claim Amount       2892.857571
dtype: float64

The Income column has the biggest range in numbers followed by Monthly Premium Auto and Total Claim Amount.

In [138]:
# 4-Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
print("Mean:")
print(db[numerical_variables].mean())

Mean:
Income                  39295.701214
Monthly Premium Auto      193.234360
Total Claim Amount        404.986909
dtype: float64

In [150]:
print("Median:")
display(db[numerical_variables].median())

Median:

Income                  36234.000000
Monthly Premium Auto       83.000000
Total Claim Amount        354.729129
dtype: float64

In [152]:
print("Mode:")
display(db[numerical_variables].mode())

Mode:

   Income  Monthly Premium Auto  Total Claim Amount
0     0.0                  65.0               321.6

In [148]:
print("Standard Deviation:")
display(db[numerical_variables].std())

Standard Deviation:

Income                  30469.427060
Monthly Premium Auto     1601.190369
Total Claim Amount        293.027260
dtype: float64

In [147]:
print("Quartiles:")
display(db[numerical_variables].quantile([0.25, 0.5, 0.75]))

Quartiles:

       Income  Monthly Premium Auto  Total Claim Amount
0.25  14072.0                  68.0          202.157702
0.50  36234.0                  83.0          354.729129
0.75  64631.0                 109.5          532.800000

Income
The mean and median are quite similar not suggesting presence of significant outliers. The mode tells us that customers with 0 income are the most prevalent data point.

Monthly Premium Auto
The very high discrepancy between mean and median might suggest the presence of outliers that are affecting the mean. Considering the mean, the standard deviation is extremely high telling us the data is very dispersed for the nature of the values.

Total Claim Amount
The mean, median appear to be consistent and the standard deviation suggest a relatively high dispersion of values considering the mean.

In [131]:
# 5-Compute summary statistics for categorical columns and providing your conclusions based on these statistics.
for column in categorical_variables:
    print(f"Frequency counts for {column}")
    frequency_counts = db[column].value_counts()
    print(frequency_counts)
    print()

Frequency counts for ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: ST, dtype: int64

Frequency counts for GENDER
F         457
M         413
Male       39
female     28
Femal      17
Name: GENDER, dtype: int64

Frequency counts for Education
Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: Education, dtype: int64

Frequency counts for Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: Policy Type, dtype: int64

Frequency counts for Vehicle Class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: Vehicle Class, dtype: int64

Most of the customers are from the state of Oregon and are female wuth Bachelor Education.  and h

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [145]:
# Your code here
common_locations = db["ST"].value_counts().sort_values(ascending=True)

print(f"The less common customer locations are:\n{common_locations.head()}")

pandas.core.series.Series

The less common customer locations are:
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: ST, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [121]:
# Your code here
top_policy_type = db["Policy Type"].value_counts().idxmax()

print(f"The policy type with the highest number of policies sold was {top_policy_type}.")

The policy type with the highest number of policies sold was Personal Auto.

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [120]:
#Personal Auto policy averages
personal_auto_db = db.loc[db['Policy Type'] == "Personal Auto"]
print(f'The average income for Personal Auto policy customers is {personal_auto_db["Income"].mean()}')

#Corporate Auto policy averages
corporate_auto_db = db.loc[db['Policy Type'] == "Corporate Auto"]
print(f'The average income for Corporate Auto policy customers is {corporate_auto_db["Income"].mean()}')

The average income for Personal Auto policy customers is 38180.69871794872
The average income for Corporate Auto policy customers is 41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here